/*
  Marina #135589
  Bondi Blue #2A93D5
  Californian Coral #3DDAD7
  Chill #AED9DA
  Glass #EDFAFD
*/

/* Rules are organised alphabetically */

.alarm {
  color: white;
  background-color: red;
}

.centred {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
  body {
    font-size: smaller;
  }
}

/* Allow space for button and "fiters changed" select */
#compressor_table {
  margin-bottom: 0.3em;
}

/* A dialog that takes over the full screen */
.fullscreen_dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

#console {
  width: 100%;
  height: 85%;
  padding: 1vw;
  background-color: #FFFFD0;
  overflow: auto;
}

#history {
  width: 100%;
  height: 75%;
  padding: 1vw;
  background-color: #EFE0F0;
  overflow: auto;
}

#history .table {
  padding: 0;
}

#history .table-head-cell {
  position: sticky;
  top: 0;
  background: #f0d903;
}

.crowded_tab {
  padding: 0.2em 0 0 0 !important;
  margin: 0;
}

/* Markdown */
[data-markdown] {
  color: blue;
  text_decoration: underline;
}

.detected {
  color: olive;
  font-size: smaller;
}

.rainbow {
  animation:rainbowText 1.2s infinite;
}

@keyframes rainbowText {
  0%{ color: red; }
  14%{ color: orange; }
  29%{ color: yellow; }
  43%{ color: green; }
  57%{ color: blue; }
  71%{ color: indigo; }
  86%{color: violet; }
}

/* Button (not a control) inside a dialog */
.dialog-inner-button {
  font-size: smaller;
  font-weight: bolder;
  padding: 0.25em;
}

/* Button (not a control) inside a dialog */
.dialog-inner-button:hover {
  font-weight: bolder;
}

/* Digital runtime display */
.digital {
  font-size: larger !important;
  font-family: "Courier New", Courier, monospace !important
}

/* Markdown */
.equation {
  font-style: italic;
  background-color: pink;
}

/* Used by validation */
.error {
  color: white;
  background-color: red;
}

#fixed {
  font-size: larger;
}

.flex-row {
  display: flex;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  flex-direction: row;
  width: 100%;
}

.flex-row label {
  margin-right: 0.25em;
}

/* Markdown - doesn't work, thanks for nothing github
   .fraction {
   display: inline-block;
   vertical-align: middle; 
   margin: 0 0.2em 0.4ex;
   text-align: center;
   }

.fraction > span {
display: block;
padding-top: 0.15em;
}

.fraction span.fdn {border-top: thin solid black;}
*/

/* Attempt to hide browser url bar :-( */
.fullscreen {
  padding-top: 3vh;
  height: 110%;
  width: 100%;
}

.hidden {
  display: none;
}

.humidity.slider {
  background-image: linear-gradient(
    to right, #f2d16b, #086294
  );
}

/* Input width control */
input.floating_point {
  width: 6em;
}

input.integer2 {
  width: 3em;
}

input.integer3 {
  width: 4em;
}

/* Used to highlight a chosen item in an inventory tab */
.inventory_chosen {
  color: red;
}

/* Applied to each sheet in an inventory */
.inventory_sheet {
  padding: 0.25em 0 0 0 !important;
  margin: 0;
}

/* The table within an inventory sheet */
.inventory_table {
  margin: 0;
}

.inventory_table .header-cell {
  background-color: #AED9DA;
  border: 1px dotted black;
}

.inventory_table table-cell {
  border: 1px dotted black;
}

.inventory_on_loan {
  text-decoration: line-through;
}

/* Default is to float buttons to the right, which can obscure them on
 * low-res displays */
.jconfirm-buttons {
  float: left !important;
}

/* Float validation reports */
label.error {
  float:right;
  padding: 0 0.2em;
}

/* Used in the loan table to highlight a late loan */
.loan_late {
  color: red;
}

#loan_table {
  margin: 0;
}

#loan_table .table-foot-group .table-cell {
  color: white;
  background-color: #135589;
}

/* A single cell in the loan table */
.loan_cell {
  width: 100%;
  height: 100%;
}

.loan_control {
  background-color: #135589;
  color: white;
}

#loan_controls {
  display: inline;
}

/* Used when an entry in the loan table is modified */
.loan_modified {
  color: white !important;
  background-color: #135589;
}

#nitrox {
  font-size: larger;
}

.bank_cylinder {
  border: thin solid black;
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
}

#portable {
  font-size: larger;
}

.report {
  color: olive;
}

/* A scrollable container in a tab */
.scroll_container {
  height: 70%;
  overflow: scroll;
}

/* Settings icons, top right */
#settings_block {
  float: right;
  display: inline-block;
}

/* Settings dialog */
h1.settings_group {
  margin-bottom: 0pt;
  background-color: #3AAAA7;
  color:white;
}

.settings_button {
  font-size: smaller;
}

.slider {
  margin-top: 0.4em;
}

.slider > div.max {
  float: right;
  color: white;
  font-size: 50%;
}

.slider > div.min {
  float: left;
  color: white;
  font-size: 50%;
}

.small-button {
  padding: 0 0.2em;
}

.temperature.slider {
  background-image: linear-gradient(
    to right, #3c89d0, #F9423A
  );
}

/* An element that displays the current time */
.time_display {
  width: 100%;
  color: white;
  background-color: #135589;
}

/* A right-aligned table in a data capture form */
div.input_label {
  text-align: right;
  padding: 0.1em;
}

/* And alternate-coloured table */
.zebra > .table-row:nth-child(odd) {
  background-color: #3DDAD7;
}

.zebra > .table-row:nth-child(even) {
  background-color: #AED9DA;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: 1px solid silver;
}

.table-head-cell {
  display: table-cell;
  font-weight: bold;
  text-wrap: nowrap;
  border: 1px solid silver;
}

.table-head-cell.padded {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.table-head-group {
  display: table-header-group;
}

.table-row-group {
  display: table-row-group;
}

.table-foot-group {
  display: table-footer-group;
}

.ui-tabs-nav {
  font-size: larger;
  padding: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .2em 1em;
}

.ui-checkboxradio-label {
  font-size: smaller;
}

/* See also .error */
.warning {
  color: red;
}

/* Used to widen a specific column in a table */
.widest {
  width: 100%;
}

